h1{
   font-size: 3REM;
   font-family: 'Bebas Neue', cursive;
    font-weight: 600;
    color:rgb(13, 13, 17);
    background-repeat: no-repeat;
    text-align: center; 
}
h2 {
    font-size: 2REM;
    font-family: 'Nunito', sans-serif;
    color:rgb(68, 68, 177);
    border: double;
    border-color:black;
    text-align: center;
}
a {
  color: var(--bs-dark)
}
a:hover {
  text-decoration: underline;
  color:rgb(26, 26, 194);
}
.texto {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    color:rgb(0, 0, 0);
    border: dotted;
    border-width: 1px; 
    border-color: rgb(21, 109, 150);
    display: inline-block;
    background-color: aliceblue;
}
#textoPresentacion p span{
    color:rgb(0, 26, 255);
    font-weight: 700;
    padding: 10px;
}
.video{
  text-align: center;
}
.descripcion{
   font-family: 'Nunito', sans-serif;
   font-weight: 500;
   color:black;
}
h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color:black;
    text-align: center;
    padding: 10px;
    border: 40px;
}
#actividadesEspeciales {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color:black;
  text-align: center;
  border: 20px;
  padding: 20px;
  border: 10px;
}
#calendar {
  text-align: center;
}
#contacto{
  display: grid;
  grid-template-columns: 300px 0px;
}
#contactanos {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color:black;
  text-align: justify;
  display: inline-block;
  background-color: aliceblue;
  margin-top: -20px;
  margin-right: 40px;
  margin-bottom: 30px;
  margin-left: 40px;
  
}
.infoACompletar{
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  display: inline-block;
  margin-top: -20px;
  margin-right: 40px;
  margin-bottom: 30px;
  margin-left: 40px;
}
.bottom{
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}
footer{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}