h2 {
    border: double;
    border-color:black;
    text-align: center;
}
.texto {
    border: dotted;
    border-width: 1px; 
    border-color: rgb(21, 109, 150);
    display: inline-block;
    transition: transform .6s;
}
.texto:hover{
  transform: scale(1.1);
}
.video{
  text-align: center;
}
h3 {
    text-align: center;
    padding: 10px;
    border: 40px;
    transition: transform .5s;
}
h3:hover{
  transform: scale(1.1);
}
.imagenActividades{
  filter: blur(3px);
  transition: filter .2s;
}
.imagenActividades:hover{
  filter: blur(0px);
}
#actividadesEspeciales {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color:black;
  text-align: center;
  border: 20px;
  padding: 20px;
  border: 10px;
}
#calendar {
  text-align: center;
}
#contacto{
  display: grid;
  grid-template-columns: 300px 0px;
}
#contactanos {
  text-align: justify;
  display: inline-block;
  margin-top: -20px;
  margin-right: 40px;
  margin-bottom: 30px;
  margin-left: 40px;
  
}
.infoACompletar{
  display: inline-block;
  margin-top: -20px;
  margin-right: 40px;
  margin-bottom: 30px;
  margin-left: 40px;
}
input[type="text"]:hover{
  background-color: rgb(71, 201, 201);
}
input{
  background-color: rgb(214, 214, 214);
  transition: all 0.5;
}
input[type="text"]:focus{
  background-color: rgb(129, 129, 253);
}