body{
    background-color: #91c2bb;
    h1 {
    text-align: map-get($map: $estilos, $key: centro);
    font-size: map-get($map: $estilos, $key: tFuente);
    font-family: $mainFont;
    color:#000000;
    padding: 10px;
   transition: transform .6s;
    &:hover{
        transform: scale(1.1);
      }
}
h2 {
  @extend h1;
  border: 0px;
  color:#03038C;
}
.texto {
    font-family: $mainFont;
    font-weight: map-get($map: $estilos, $key: fWeight);
    background-color:#292929 ;
    color: white;
    border: dotted;
    border-width: 1px; 
    border-color: rgb(226, 226, 226);
    padding: 10px;
    display: block;
    transition: transform .6s;
    &:hover{
        transform: scale(1.1);
      }
}

.video{
  text-align: map-get($map: $estilos, $key: centero);
}
.descripcion{
    font-family: $mainFont;
    font-weight: map-get($map: $estilos, $key: fWeight);
}
.imagenActividades{
  display: block;
  margin: auto;
  padding: 25px;
  width: 400px;
  transition: transform .5s;
  &:hover{
    transform: translate(10px);
  }
}

#actividadesEspeciales {
color: $colorPrimario;
  font-family: $mainFont;
  font-weight: map-get($map: $estilos, $key: fWeight);
  color:black;
  text-align: map-get($map: $estilos, $key: centero);
  border: 20px;
  padding: 20px;
  border: 10px;
}
#calendar {
  text-align: map-get($map: $estilos, $key: centero);
}
#contacto{
  display: grid;
  grid-template-columns: 300px 0px;
}
#contactanos {
  text-align: map-get($map: $estilos, $key: justificado);
  display: block;
  font-family: $mainFont;
  font-weight: map-get($map: $estilos, $key: fWeight);
  background-color: aliceblue;
  color: $colorPrimario;
  
}
.infoACompletar{
 @extend #contactanos;
 background-color: rgb(167, 249, 255);
}
input[type="text"]{
  background-color: rgb(214, 214, 214);
  &:hover{
    background-color: rgb(92, 252, 252);
  }
  &focus{
    background-color: rgb(92, 92, 255);
  }
}
.bottom{
    font-family: $mainFont;
    font-weight: map-get($map: $estilos, $key: fWeight);
  }
}