body{
    background-color: #CCF3EE;
h2 {
    border: double;
    border-color:black;
    text-align: center;
    font-size: 2REM;
    font-family: $mainFont;
    color:rgb(68, 68, 177);
}
.texto {
    font-family: $mainFont;
    font-weight: 500;
    background-color: aliceblue;
    color: $colorPrimario;
    border: dotted;
    border-width: 1px; 
    border-color: rgb(21, 109, 150);
    display: inline-block;
    transition: transform .6s;
    &:hover{
        transform: scale(1.1);
      }
}

.video{
  text-align: center;
}
h3 {
    font-family: $mainFont;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    border: 40px;
    transition: transform .5s;
    &:hover{
        transform: scale(1.1);
      }
}

.descripcion{
    font-family: $mainFont;
    font-weight: 500;
}
.imagenActividades{
  filter: blur(3px);
  transition: filter .2s;
  &:hover{
    filter: blur(0px);
  }
}

#actividadesEspeciales {
color: $colorPrimario;
  font-family: $mainFont;
  font-weight: 600;
  color:black;
  text-align: center;
  border: 20px;
  padding: 20px;
  border: 10px;
}
#calendar {
  text-align: center;
}
#contacto{
  display: grid;
  grid-template-columns: 300px 0px;
}
#contactanos {
  text-align: justify;
  display: inline-block;
  margin-top: -20px;
  margin-right: 40px;
  margin-bottom: 30px;
  margin-left: 40px;
  font-family: $mainFont;
  font-weight: 600;
  background-color: aliceblue;
  color: $colorPrimario;
  
}
.infoACompletar{
 @extend #contactanos;
}

input[type="text"]{
  background-color: rgb(214, 214, 214);
  &:hover{
    background-color: rgb(71, 201, 201);
  }
  &focus{
    background-color: rgb(129, 129, 253);
  }
}
.bottom{
    font-family: $mainFont;
    font-weight: 600;
  }
}